<%- include('../partials/head.ejs') %>

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Movie details</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <!-- flesh messages after redirecting from login -->
    <div class="container flesh-container">
        <ul class="flash-block">
            <% if (messages.success_msg) { %> 
            <li class="text-success"><%= messages.success_msg %></li>
            <% } %> 
        </ul>
    </div>
    
    <div class="container">
        <div class="container">
            <div class="row gutters">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="movie-poster">
                                <!-- movie poster will be placed here -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="movie-info">
                                    <!-- movie info will be dynamically added here -->
                                </div>
                            </div>
                            
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right">

                                        <!-- if user is logged in but hasn't rated the movie yet -->
                                        <% if (typeof userId !== 'undefined' && typeof movieRating === 'undefined') { %> 
                                            <div class="container mb-3 mt-2" id="form-cntainer">
                                                <form class="container" action="/movie/<%= id %> " method="POST">
                                                    <input class="form-number-input" type="number" min="1" max="5" name="rating" id="rating">
                                                    <button class="btn btn-outline-secondary" type="submit">Submit rating</button>
                                                </form>
                                            </div>
                                            <a href="/" class="btn btn-primary">Back to all movies</a>
                                            <button type="button" id="rateMovie" name="submit" class="btn btn-primary" disabled >Rate movie</button>

                                        <!-- if user is logged in but already rated the movie -->
                                        <% } else if (typeof userId !== 'undefined' && typeof movieRating !== 'undefined') { %>
                                            <p class="text-secondary fst-italic">You rated this movie as <strong><%= movieRating %> </strong></p> 
                                            <a href="/" class="btn btn-primary">Back to all movies</a>
                                            <button type="button" id="rateMovie" name="submit" class="btn btn-primary" disabled >Rate movie</button>

                                        <!-- if user is not logged in -->
                                        <% } else { %> 
                                            <a href="/" class="btn btn-primary">Back to all movies</a>
                                            <button type="button" id="rateMovie" name="submit" class="btn btn-primary" disabled >Rate movie</button> 
                                            <small class="text-secondary fst-italic">  Please log in to be able to rate this movie</small>  
                                        <% } %> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                            
    </div>


    <%- include('../partials/footer.ejs') %>
    <script>
        const movieId = <%= id %>
    </script>
    <script src="/details.js"></script>
</body>
</html>